@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/Yantramanav-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*===================== HOMEOWNER NAVBAR========================== */

.navbar-brand {
  font-weight: bold;
}

.home {
  color: red;
  font-weight: lighter;
  text-decoration: none;
}

.home {
  font-weight: lighter;
}

.owner-img {
  height: 50px;
  width: 50px;
}

.top {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/managers-0.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: contrast(90%);
  height: auto;
  /* border:2px solid blue; */
  color: white;
  margin-bottom: 4em;
  font-family: 'Open Sans', serif;
}

.nav {
  height: auto;
  margin: 1em;
  /* border:2px solid red; */
}

.nav ul li {
  display: inline-block;
  margin-left: 0.5em;
}

.right {
  margin-right: 2em;
  float: right;
}

.right span {
  font-weight: lighter;
}

/* UTILITY COMPANY DETAILS STYLING */

.page-header {
  text-align: center;
  border: none;
}

.page-header h1 {
  font-size: 1.4em;
  color: #42496C;
  font-family: 'Yantramanav';
}

.page-header h2 {
  font-family: 'Open Sans', serif;
  font-size: 1.1em;
  margin: 1em;
}

.homes_cnt {
  color: #DFA400;
}

.page-header .homes_cnt i {
  padding: 2px;
  border: 2px solid #DFA400;
  border-radius: 50%;
  color: #DFA400;
}

.page-header .active_cnt {
  color: #54936F;
}

.imgur {
  height:200px;
  width:90%;
}

.page-header .active_cnt i {
  padding: 2px;
  border: 2px solid #54936F;
  border-radius: 50%;
  color: #54936F;
}

.col-sm-3 i{
  background: yellow;
}
