@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*===================== HOMEOWNER NAVBAR========================== */

.navbar-brand {
  font-weight: bold;
}

.home {
  color: red;
  font-weight: lighter;
  text-decoration: none;
}
.home {
  font-weight: lighter;
}

.owner-img {
  height: 50px;
  width: 50px;
}

.top {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/managers-0.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: contrast(90%);
  height: auto;
  /* border:2px solid blue; */
  color: white;
  margin-bottom: 4em;
  font-family: 'Open Sans', serif;
}

.nav {
  height: auto;
  margin: 1em;
  /* border:2px solid red; */
}

.nav ul li {
  display: inline-block;
  margin-left: 0.5em;
}

.right {
  margin-right: 2em;
  float: right;
}

.right span {
  font-weight: lighter;
}
