<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cycle | Utility Company</title>
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../assets/css/utility.css" rel="stylesheet">
</head>

<body>

  <div class="row top">
    <div class="nav">
      <ul>
        <li class="navbar-brand">Utility Company</li>
        <div class="owner right">
          <li><img src="../assets/img/cycle_logo-s.png" class="img-circle owner-img" alt=""></li>
          <li><h4><span>Company</span>/ CYCLE / <a href="/index.html"><span class="home">Back</span></a></h4></li>
        </div>
      </ul>
    </div>
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
