<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cycle | Utility Company</title>
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../assets/css/utility.css" rel="stylesheet">
</head>

<body>

  <div class="row top">
    <div class="nav">
      <ul>
        <li class="navbar-brand">Utility Company</li>
        <div class="owner right">
          <li><img src="../assets/img/CYCLE 500 X 500 - WHTE.png" class="img-circle owner-img" alt=""></li>
          <li>
            <h4><span>Company</span>/ CYCLE / <a href="/index.html"><span class="home">Back</span></a></h4></li>
        </div>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-12" style="border:1px solid red;">
        <div class="page-header">
          <h1>USERS</h1>
          <h2><span class="homes_cnt"><i class="fa fa-home" aria-hidden="true"></i> 20 Users &nbsp&nbsp&nbsp&nbsp</span> / &nbsp&nbsp <span class="active_cnt"><i class="fa fa-power-off" aria-hidden="true"></i>Total Energy: 2000</span></h2>
        </div>

        <!-- <div class="lists">
          <span>NAME</span>
          <span>NAME</span>
          <span>NAME</span>
          <span>NAME</span>
          <span>NAME</span>
          <span>NAME</span>
          <span>NAME</span>
        </div> -->
        <!-- <div class="content">
          <img src="../assets/img/Asset 32.png" class="img-responsive imgur" alt="">
        </div>
 -->

      </div>

      <!-- <span style="display:inline-block">
          <p>NAME</p>
          <img src="http://via.placeholder.com/50x50" alt="">
          <p>NAME</p>
        </span>
        <span style="display:inline-block">
          <p>NAME</p>
          <img src="http://via.placeholder.com/50x50" alt="">
          <p>NAME</p>
        </span>
        <span style="display:inline-block">
          <p>NAME</p>
          <img src="http://via.placeholder.com/50x50" alt="">
          <p>NAME</p>
        </span> -->
    </div>
    <div class="col-md-4 col-xs-12" style="border:1px solid blue;">
    </div>
  </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
