<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cycle</title>
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="./assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <!-- <a href="https://www.freepik.com/free-vector/abstract-blue-background_859016.htm">Designed by Freepik</a> -->
  <!-- <a href="https://www.freepik.com/free-vector/blue-geometric-technological-background_1072469.htm">Designed by Freepik</a> -->
  <div class="container landing">
    <div id="particles-js"></div>
    <div class="row">
      <div class="col-md-6 col-xs-12" id="overlay">
        
        <h1>Decentralized and Intelligent exchange of energy</h1>
        <h2>Empowering people, everyday.</h2>
        <p><span>IOT</span> and <span>Blockchain</span> come together to power cycle</p>
        <div class="buttons">
          <ul>
            <li><a href="dashboards/homeowner.html"><button class="btn btn-primary">Homeowner</button></a></li>
            <li><a href="dashboards/managers.html"><button class="btn btn-default">Manager</button></a></li>
          </ul>
        </div> 
      </div>
      <div class="col-md-6 col-xs-12" id="overlay">
        
        <div class="logo">
          <img src="assets/img/cycle_logo-s.png">
        </div>

      </div>
    </div>
  </div>
  
  <div class="container main">
    <div class="row tile">
      <div class="col-md-4 col-xs-12 tiles">
        <div class="content">
          <div class="content-top">
            <i class="fa fa-exchange feature-icon" aria-hidden="true"></i>
            <h1>Reliable Hardware</h1>
          </div>
          <div class="content-bottom">
            <h3>Easy to access, cut of the edge generator and batery from our big allies.</h3>
          </div>
        </div>
      </div>
 	<script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		var socket = io.connect('https://localhost:3000')
		socket.on("message1",function(message){
			$("p").text("Energy Flow through Battery and Grid are  "+message+ "Respectively")
})
	</script>
     <div class="col-md-4 col-xs-12 tiles">
        <div class="content" id="box2">
          <div class="content-top">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <h1>Harvester</h1>
          </div>
          <div class="content-bottom">
            <h3>Our IOT device connected with powerful cloud services boost surplus of energy generation. It ensures permanent Exchange of energy between users.</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 tiles">
        <div class="content">
          <div class="content-top">
            <i class="fa fa-link" aria-hidden="true"></i>
            <h1>Blockchain Technology</h1>
          </div>
          <div class="content-bottom">
            <h3>Energy transactions are held and secure in Ethereum network generating CLEs, our Cryptocurrency</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row tagline">
      <h1>"We have created a hardware and software platform that allows users to sell the over-generation of energy to users who need it in exchange for tokens"</h1>
      <i class="fa fa-sun-o" aria-hidden="true"></i>
    </div>
  </div>

  <div class="container-fluid prefoot">
    <div class="row">

      <div class="row tagline">
        <h1 style="color: white">Test the integration of our technologies</h1>
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="content">
          <div class="content-top">
            <i class="fa caret-right" aria-hidden="true"></i>
            <h1>Machine Learning Prediction</h1>
          </div>
          <div class="content-bottom">
            <h3>The energy management is controlled by machine learning models who manages the switches! Here a real time demo with data from our database.</h3>
          </div>
          <div class="content-bottom">
			  <p id="ml-prediction" style="color: white"><b> Energy flow through battery and grid are 1 and 1 respectively</b></p>
			 	<script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		var socket = io.connect('https://localhost:3000')
		socket.on("message1",function(message){
			$("p").text("Energy Flow through Battery and Grid are  "+message+ "Respectively")
})
	</script>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
         <div class="content">
          <div class="content-top">
            <i class="fa caret-right" aria-hidden="true"></i>
            <h1>Operations with Cryptocurrency</h1>
          </div>
          <div class="content-bottom">
            <h3>The energy management is controlled by machine learning models who manages the switches! Here a real time demo with data from our database.</h3>
          </div>
          <div class="content-bottom">  
            <ul>
              <li><a id="cyclecoin-test"><button class="btn btn-primary">Test Cyclecoin acquisition</button></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
         <div class="content">
          <div class="content-top">
            <i class="fa caret-right" aria-hidden="true"></i>
            <h1>Authentication with Uport</h1>
          </div>
          <div class="content-bottom">
            <h3>We secured the crucial operations in the system using UPort to validate identity of users.</h3>
          </div>
          <div class="content-bottom">  
            <ul>
              <li><a id="uport-test"><button class="btn btn-primary">Test UPort Authentication</button></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
         <div class="content">
          <div class="content-top">
            <i class="fa caret-right" aria-hidden="true"></i>
            <h1>Watson Languages services</h1>
          </div>
          <div class="content-bottom">
            <h3>We integrate IBM technologies aiming to reduce the language barriers.</h3>
          </div>
          <div class="content-bottom">  
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container details">
    <div class="row">
      <div class="page-header">
        <h1>Why Cycle?</h1>
        <i class="fa fa-globe" aria-hidden="true"></i>
      </div>
      <div class="page-content">
        <h3>Places with <span style="color:#6964FF;">no access to energy</span> are mostly concentrated in the sub-saharan Africa, in places where installation of infrastructure is challenged due to climatic, geographic and cost constraints. <span style="color:#6964FF;">Mini-grids</span> seems to be a very good alternative because they offer <span style="color:#6964FF;">independent</span> and <span style="color:#6964FF;">decentralized</span> options that doesn’t need to be interconnected with the normal electric grids.</h3>
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <h3>Cycle provides hardware as well as a software platform that allows users to sell the over-generation of energy to users who need it in exchange for tokens. </h3>
        <i class="fa fa-exchange feature-icon" aria-hidden="true"></i>
        <h3>Cycle is decentralized, intelligent and knows where to put the energy that is not being consumed. This ensures a permanent exchange of energy all the time.</h3>
      </div>
    </div>

  </div>

  <div class="container-fluid prefoot">
    <div class="row">

      <div class="row tagline">
        <h1 style="color: white">About Grids</h1>
        <i class="fa question" aria-hidden="true"></i>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="content">
          <div class="content-top">
            <i class="fa caret-right" aria-hidden="true"></i>
            <h1>Join Venture Connection</h1>
          </div>
          <div class="content-bottom">
            <h3>We stablish relations with mini-grid owners/companies on villages that have infraestructure installed.

            They percieve for the use of their infrastructure and encourage to scale services with us growing capacity.
            </h3>
          </div>
          <div class="content-bottom">
            <p id="ml-prediction" style="color: white"></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
         <div class="content">
          <div class="content-top">
            <i class="fa caret-right" aria-hidden="true"></i>
            <h1>Zero-Sum Connection</h1>
          </div>
          <div class="content-bottom">
            <h3>The energy management is controlled by machine learning models who manages the switches! Here a real time demo with data from our database.</h3>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container footer">
    <p>All the rights reserved to the brand - Cycle 2017</p>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
  <script src="./assets/js/app.js" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>

    var socket = io.connect('https://app-cycle.mybluemix.net/')

    socket.on("message1",function(message){

      var message_transform = message.replace("1","On").replace("0","Off");

      $('#ml-prediction').text("Energy Flow through Battery and Grid are  "+message+ "Respectively")
    socket.o
    })

  </script>

</body>

</html>
